<div class="container">
  <div class="columns ">
    <div class="column">

      <div class="level">
        <input class="input is-half is-medium" type="text" placeholder="Search">

      </div>

      <hr>

      <% geoSites.forEach( geoSite => { %>
        <div class="level columns">
          <div class="column is-4">
            <a href="/geoSites/<%=geoSite.id%>">
              <div class="level-item">
                  <img class="image index-image" src="<%=geoSite.coverPic%>">
              </div>
            </a>
          </div>

          <div class="column is-6">
            <a href="/geoSites/<%=geoSite.id%>" class="title is-3"><%= geoSite.name %></a>
            <p class="heading"><span class="has-text-weight-bold">Country:</span> <%= geoSite.country %></p>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>

          <div class="column is-2">
            <div >
              <a href="<%=geoSite.mapLink%>">Google Maps</a>

              <p class="sub-title">Rating: <%=geoSite.averageRating%></p>
            </div>
          </div>
        </div>
        <hr>
      <% }) %>

    </div>
  </div>
</div>
